body {background-color:rgb(40, 40, 40); font-family: sans-serif}
h1 {color:rgb(255, 255, 255);}
h2 {color:rgb(255, 255, 255);}
h4 {color: #ffffff; text-align: center;}
p {color:rgb(255, 255, 255);}
hr {color: rgb(255,255,255); border: solid;}
.logo {color: white !important; text-decoration: none !important;}
.main-title{padding: 5px 10px !important;}
.t-logos{
    width: 32px;
    height: 32px;}
.t-links:link, .t-links:visited{
    background-color: rgba(0,100,255,0) !important;
    color: white;
    border: 2px solid rgba(0,100,255,0) !important;
    padding: 5px 10px !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 0px !important;
}
a:link, a:visited{
    background-color: rgba(0,100,255,0.5);
    color: white;
    border: 2px solid rgba(0,100,255,0.5);
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
  }
  
  a:hover, a:active {
    background-color: rgba(0,100,255,1);
    border: 2px solid rgba(0,100,255,0.5);
  }

img {vertical-align: middle;}
.title-links{font-size: 15px;}
